{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<main id="project" class="py-0 my-0">
    <section id="project-intro" class="bg-dark py-5 my-0">
        <div class="container pt-5 pt-md-0">
            <div class="row max-viewport justify-content-center align-items-center text-center">
                <div class="col-12 col-md-4 d-sm-block px-1 mx-auto bg-transparent">
                    <div>
                        <img src="{% static 'img/ami.jpg' %}" class="img-fluid img-thumbnail" alt="Ani">
                    </div>
                </div>
                <div class="col-12 col-md-8 mx-auto">
                    <div id="banner" class="jumbotron jumbotron-fluid mx-auto bg-transparent text-md-left">
                        <div class="container-fluid">
                            <h1 class="display-5 text-danger">Welcome to my Projects!</h1>
                            <p class="lead text-primary font-weight-bold">Take a look at some of my projects on Python, Django, and Machine Learning.</p>
                            <p class="ln text-light font-weight-light mb-0 paragraph">I started learning Python as a part of my Masters course. As my interest in Machine Learning grew, I started delving deeper into Python programming, and my own blog in Django felt like a natural platform to share my work. I plan to share my experience here as I complete more projects.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="project-list">
        <div class="container">
            <div class="row">
                <main class="posts-listing col">
                    <div class="container">
                        <div class="row card-deck">
                            <!-- Project -->
                            {% for project in projects %}
                            <div class="card post p-2">
                                <div class="card-img-top post-thumbnail"><a href="{{ project.get_absolute_url }}"><img
                                            src="{{ project.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
                                <div class="card-body post-details">
                                    <div class="card-text post-meta d-flex justify-content-between category">
                                        <a href="#">{{ project.category }}</a>
                                    </div>
                                    <div class="card-text">
                                        <a href="{{ project.get_absolute_url }}" target="_blank">
                                            <h4 class="h4">{{ project.title|striptags }}</h4>
                                        </a>
                                    </div>

                                    <div
                                        class="row card-text text-center justify-content-between align-items-center my-2">
                                        <div class="col">
                                            <a class="btn btn-block btn-info btn-sm"
                                                href="{{ project.get_absolute_url }}" target="_blank" type="button">Read
                                                more!</a>
                                        </div>
                                        <div class="col text-center">
                                            <div class="d-inline-block text-center">
                                                <a class="my-auto text-primary pointer" href="#" target="_blank">
                                                    <i class="fab fa-github-square fa-2x"></i></a>
                                                <a class="my-auto text-primary pointer" href="#" target="_blank">
                                                    <i class="fab fa-linkedin fa-2x"></i></a>
                                                <a class="my-auto text-primary pointer" href="#" target="_blank">
                                                    <i class="fab fa-facebook-square fa-2x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="text-secondary my-2">
                                    <p class="card-text">{{ project.tagline|striptags }}</p>
                                </div>
                                <div class="card-footer post-footer d-flex align-items-center">
                                    <a href="#" class="author d-flex align-items-center flex-wrap">
                                        <div class="avatar"><img src="{{ project.author.profile_picture.url }}" alt="..."
                                                class="img-fluid"></div>
                                        <div class="title"><span>{{ project.author }}</span></div>
                                    </a>
                                    <div class="col date"><i class="icon-clock"></i>{{ project.date | date:"N j, Y" }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- End Project -->
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

